*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/sfondo.jpg");
  background-size: cover;
}

.container{
  display: flex;
  align-items: center;
  width: 60%;
  height: 100vh;
  margin: auto;
}

.wrapper{
  position: relative;
  width: 100%;
}

.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 50px;
}

.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  font-size: 50px;
}

.prev i, .next i{
  cursor: pointer;
  color: rgb(126, 125, 125);
}

.prev:hover, .next:hover {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(56, 53, 53, 0.8);
}

.prev:hover i, .next:hover i{
  color: rgb(95, 197, 48);
}

.wrapper .box-img{
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper .box-img img{
  width: 50%;
  display: none;
}

.wrapper .box-img img.active{
  display: block;
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper .circle i{
  color: white;
  margin: 0 20px;
  cursor: pointer;
}

.wrapper .circle i.active{
  color: rgb(103, 94, 138);
}